{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/mainpage.css' %}">
    <title>is it christmas?</title>
</head>
<body>
    <div class = "main-box">
        <h1 class = "header-1">is it christmas?</h1>
        <p class = "rainbow-text">
            {% if today %}
                Yes!
            {% else %}
                No.
            {% endif %}
        </p> 
        <button class="glow-on-hover" type="button" onclick = "window.location.href = '{% url 'secret-santa' %}'">Play santa</button> 
    </div> 
</body>
</html>